@using TIPP.Shared
@using Blazorise.DataGrid
@page "/admin"
<h3>AdminDashboard</h3>

<DataGrid TItem="TIPP.Shared.User"
          Data="@userList"
          ReadData="@ReadUsers"
          @bind-SelectedRow="@userSelected"
          Sortable="true"
          SortMode="DataGridSortMode.Single">
    <DataGridColumn TItem="TIPP.Shared.User" Field="@nameof(TIPP.Shared.User.Id)" Caption="#" Sortable="true"></DataGridColumn>
    <DataGridColumn TItem="TIPP.Shared.User" Field="@nameof(TIPP.Shared.User.Username)" Caption="Username" Sortable="true" Editable="true" />
    <DataGridColumn TItem="TIPP.Shared.User" Field="@nameof(TIPP.Shared.User.Role)" Caption="Role" Sortable="true" Editable="true" />
</DataGrid>

@code {

    List<TIPP.Shared.User> userList;
    TIPP.Shared.User userSelected;
    int totalUsers;

    async Task ReadUsers(DataGridReadDataEventArgs<TIPP.Shared.User> e)
    {
        TIPP.Shared.User testuser = new TIPP.Shared.User(0, "test", "test", Role.Admin);
        TIPP.Shared.User testuser2 = new TIPP.Shared.User(1, "test1", "test1", Role.User);
        userList = new List<TIPP.Shared.User>();
        userList.Add(testuser);
        userList.Add(testuser2);



        totalUsers = userList.Count();
        StateHasChanged();
    }

}
